<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/customBody.css" />
</head>
<body>
<header class="main-container" th:insert="/navbar.html :: navbar"></header>
<h1>Contacts:</h1>
</body>
</html>